@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pic-style{
    width: 200px;
    height: 220px;
}

.desc-style{
    width: 400px;
    height: 430px;
}

.mobile-style{
    width: 400px;
    height: 360px;
}